body {
    font-family: 'Ubuntu', sans-serif;
}

/* Default textarea */

textarea{
    resize: vertical;
}

.title-section {
    font-weight: bold;
    font-size: 40px;
    line-height: 21px;
    text-transform: uppercase;
    color: #4560F8;
    display: flex;
    justify-content: center;
}

/* Menu */

.nav-menu {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

.title-menu {
    font-weight: bold;
    text-transform: uppercase;
    color: #4560F8;
    font-size: 48px;
    line-height: 21px;
}

.ul-menu {
    display: flex;
}

.ul-menu a {
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    font-size: 30px;
    line-height: 21px;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
}

/* Header */

.header {
    background-color: #4560F8;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
}

.title {
    font-weight: bold;
    font-size: 5rem;
    line-height: 21px;
    text-transform: uppercase;
    color: #F7B732;
    margin: 30px;
}

.description {
    margin: 30px;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    text-transform: capitalize;
    color: #fff;
}

.div-links {
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
}

.icon-link {
    text-decoration: none;
    color: #F7B732;
    font-size: 50px;
}

/* About */

.text-about {
    font-size: 24px;
    color: #000;
    text-transform: lowercase;
    line-height: 30px;
    text-align: justify;
    padding: 90px;
}

/* Projects */

.projects {
    display: flex;
    justify-content: space-between;
    padding: 90px;
}

.icon-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 21px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
}

.icon-project i {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7B732;
    width: 200px;
    height: 200px;
    color: #C08509;
    font-size: 100px;
}

.icon-project span {
    padding-top: 15px;
}

/* Form contact */

.form-contact {
    display: flex;
    flex-direction: column;
}

.form-contact label {
    color: #767575;
}

.form-contact input {
    padding: 10px;
    margin: 20px 0px;
}

.button-submit {
    text-transform: uppercase;
    background-color: #4560F8;
    color: #FFF;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 30px;
    line-height: 21px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

/* Contact and social */

.sociais__container{
    padding: 32px 0;
    background-color: #FCF9F2;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sociais__container h1 {
    margin-bottom: 32px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: #4560F8;
    font-size: 48px;
    line-height: 21px;
}

.sociais__container .row{
    display: flex;
    justify-content: space-around;
}
.sociais__container .row .sociais__section{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.sociais__container .row .contato__form{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sociais__container .row .contato__form .submit__button {
    color: #fff;
    font-weight: bold;
    font-size: 1.6rem;
    border-radius: 8px;
    width: 80%;
    cursor: pointer;
    padding: 13px;
    margin: 0 auto;
    background-color: #4560F8;
    border: none;
    outline: none;
}
.sociais__container .row .contato__form div{
    display: flex;
    flex-direction: column;
    margin-bottom: 23px;
}

.sociais__container .row .contato__form div label{
    margin-bottom: 13px;
    color: #767575;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.4rem;
}

.sociais__container .row .contato__form div textarea {
    height: 230px;
}

.sociais__container .row .contato__form div input, .sociais__container .row .contato__form div textarea {
    padding: 13px;
    outline: none;
    border: 1px solid #cfcecd;
    border-radius: 8px;
    width: 100%;
}

/* Text Contact */

.text-contact {
    font-size: 24px;
    line-height: 28px;
    text-transform: capitalize;
    color: #000;
    margin-bottom: 23px;
}

.social {
    font-weight: 500;
    margin-bottom: 23px;
    font-weight: bold;
    font-size: 3rem;
    line-height: 42px;
    text-transform: uppercase;
    color: #C08509;
}

.sociais__section div{
    margin-bottom: 52px;
}

.icon-contact {
    color: #C08509;
    margin-bottom: 23px;
    font-size: 60px;
    text-decoration: none;
    transition: 1s;
}

.fa-github, .fa-dev, .fa-youtube, .fa-twitter{
    transition: 0.3s;
}

.icon-contact .fa-github:hover{
    color: #000;
}

.icon-contact .fa-youtube:hover{
    color: #FF0000;
}

.icon-contact .fa-dev:hover{
    color: #000;
}

.icon-contact .fa-twitter:hover{
    color: #00ACEE;
}

.icon-contact + .icon-contact {
    margin-left: 32px;
}

/* Footer */

.footer {
    background-color: #4560F8;
    display: flex;
    justify-content: center;
    font-size: 24px;
    line-height: 28px;
    text-transform: capitalize;
    color: #FFFCF4;
    padding: 20px;
}